<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0740/9143/products/fultons-new_1024x_2a554f3a-cd9c-475a-a7ce-3dd86c49916c_1024x.jpg?v=1538943774" alt="...">
      <div class="caption">
        <h3>Fultons</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, maiores doloribus ea numquam nemo eius esse sit, id deleniti impedit, tenetur optio illum quaerat dolores velit veritatis ratione? Error, velit.</p>
        <div class="clearfix">
            <div class="price pull-left">$98</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0740/9143/products/lakeshores-1_1024x.jpg?v=1538944034" alt="...">
      <div class="caption">
        <h3>Lake Shores</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, maiores doloribus ea numquam nemo eius esse sit, id deleniti impedit, tenetur optio illum quaerat dolores velit veritatis ratione? Error, velit.</p>
        <div class="clearfix">
            <div class="price pull-left">$98</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0740/9143/products/willys-pants-1_1024x.jpg?v=1538944746" alt="...">
      <div class="caption">
        <h3>Willys</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, maiores doloribus ea numquam nemo eius esse sit, id deleniti impedit, tenetur optio illum quaerat dolores velit veritatis ratione? Error, velit.</p>
        <div class="clearfix">
            <div class="price pull-left">$98</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0740/9143/products/piers1_1024x.jpg?v=1538944426" alt="...">
      <div class="caption">
        <h3>Piers</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, maiores doloribus ea numquam nemo eius esse sit, id deleniti impedit, tenetur optio illum quaerat dolores velit veritatis ratione? Error, velit.</p>
        <div class="clearfix">
            <div class="price pull-left">$98</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0740/9143/products/squid-inks1_1024x.jpg?v=1538944538" alt="...">
      <div class="caption">
        <h3>Squid Inks - Black</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, maiores doloribus ea numquam nemo eius esse sit, id deleniti impedit, tenetur optio illum quaerat dolores velit veritatis ratione? Error, velit.</p>
        <div class="clearfix">
            <div class="price pull-left">$98</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0740/9143/products/studio-blues-pants-1_1024x.jpg?v=1538944633" alt="...">
      <div class="caption">
        <h3>Studio Blues</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, maiores doloribus ea numquam nemo eius esse sit, id deleniti impedit, tenetur optio illum quaerat dolores velit veritatis ratione? Error, velit.</p>
        <div class="clearfix">
            <div class="price pull-left">$98</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>